#inputForm {
	text-align: center;
	padding: 50px;
	border: 2px solid #0080ff;
}

div#input {
	position: absolute;
	left: 50%;
	top: 17%;
	margin-left: -202px;
}

.usrLabels{
	text-align: left;
}

.saveButton {
	text-align: right;
}

.cancelButton {
	text-align: center;
}
